.header {
    display: flex;
    justify-content: space-between;
  }

.acc {
    display: flex;
    flex-wrap:wrap; 
    justify-content: space-evenly;
    margin-top: 100px;
  }

img {
    border-radius: 25px;
  }

.button:hover {
  box-shadow: 0 0 10px black;
}

h2 {
    margin: 20px;
    padding: 40px;
    color: #89CFF0;
  }

body {
    font-family: serif;
  }

div {
    padding: 3px;
    margin: 5px;
  }
