div {
    padding: 3px;
    margin: 5px;
  }



body {
      font-family: serif;
    }
 

h2 {
  margin: 20px;
  padding: 40px;
  color: #89CFF0;
}

.advertisement {
  margin: 20px;
  padding: 20px;
  text-indent: 50px;
}
  
.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
  }


img {
    border-radius: 25px;
  }